# Compiled python modules
__pycache__/
*.pyc

# Setuptools distribution folder
/dist/

# Python egg metadata
/*.egg-info

# Jupyter NB Checkpoints
.ipynb_checkpoints/
*.markdown

*.log
temp*
/model_file
*.joblib
*.json
